.pagination {
	margin-top: 20px;
	padding: 5px 0;
	//border: 1px solid rgb(121, 121, 121);
}

.pagination-btn,
.pagination-number {
	width: 30px;
	height: 30px;
	border: 1px solid #343434;
	background-color: #fff;
	color: #000000;
	margin: 0 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.active {
	background-color: var(--main-color);
	color: white;
}

.pagination-btn:disabled,
.pagination-number:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.pagination-btn:hover:not(:disabled),
.pagination-number:hover:not(.active) {
	background-color: #f1f1f1;
}
