.upload-image {
    text-align: center;
    padding: 20px;
    border-right: 1px solid black;

    p:nth-of-type(1) {
        margin-bottom: 30px;
    }
}

.address-form {
    width: 500px;
    margin: 30px auto;
}

