// .style={{ textAlign: "center", marginTop: 20 }}
.order-btn {
	text-align: center;
	margin-top: 20px;
	button {
		width: 90%;
		padding: 8px 0;
	}
}

.product {
	margin: 10px 0px;
}

.cart {
	//border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	background-color: white;

	.seller {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		padding-bottom: 5px;

		span {
			color: gray;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	img {
		width: 110px;
		height: 110px;
		border: 1px solid black;
		border-radius: 5px;
	}

	.detail {
		margin-left: 40px;
		.name {
			margin-top: 0px;
			font-weight: 500;
			font-size: 1.1rem;
			cursor: pointer;
			width: 90%;
		}
		.price {
			font-weight: 500;
			margin-top: 10px;
		}
	}

	.price {
		display: flex;
		div {
			margin: 0 15px;
		}
		span {
			font-size: 0.9rem;
		}

		p {
			margin-top: 5px;
			font-size: 1.2rem;
			font-weight: 500;
			color: var(--orange-color);
			margin-bottom: 20px;
		}
	}

	.remove-btn {
		display: flex;
		button {
			padding: 0px 10px;
			color: red;
		}
	}
}

.buyer {
	.detail-order {
		padding: 10px 20px;
		padding-bottom: 45px;
		.name {
			margin-top: 10px;
			margin-left: 30px;
			font-size: 1.2rem;
			font-weight: 500;
			color: var(--main-color);
		}

		.avatar {
			img {
				margin-top: 10px;
				margin-left: 10px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 3px solid gray;
			}
		}
		.update-button {
			float: right;
			font-size: 0.8rem;
			background-color: var(--light-color);
			border: 1px solid gray;
			border-radius: 3px;
			padding: 0px 10px;
			margin-top: 10px;
			transition: 0.2s ease;
			&:hover {
				background-color: var(--main-color);
			}
		}
		.info {
			margin: 30px 0 0 10px;
			width: 100%;
			position: relative;

			div {
				position: relative;
				margin: 20px 0;
				padding-top: 0px;
				width: 95%;

				span {
					display: inline-block;
					width: 25%;
					font-weight: 500;
				}
			}

			.payment {
				display: flex;
				align-items: center;
				position: absolute;
				margin-top: -40px;
				p {
					font-weight: 500;
				}
			}
		}

		hr {
			margin: 40px 0;
		}

		.price {
			margin: -20px auto 0 auto;
			position: relative;
			width: 300px;
			span {
				position: absolute;
				right: 10px;
				font-weight: 500;
			}
		}

		.payment-method {
			margin-bottom: 50px;
			display: flex;
			button {
				border: none;
				margin-left: 20px;
				color: var(--main-color);
				background-color: white;
			}
		}
	}
}

.summary {
	.price {
		position: relative;
		margin: 20px auto 0 auto;
		width: 80%;

		span {
			position: absolute;
			margin-left: 10px;
			font-weight: 500;
			font-size: 1.2rem;
			right: 20px;
		}
	}
}

.confirm-success {
	text-align: center;
	svg {
		transform: scale(1.8);
		margin-bottom: 30px;
	}

	a {
		display: inline-block;
		margin-top: 50px;
		padding: 2px 10px;
		border-radius: 5px;
		background-color: transparent;
	}
}

.email-template {
	width: 600px;
	margin: auto;
	font-family: Arial, sans-serif;
	color: #333;
	background-color: white;
	padding: 20px;
}
