.image-area {
	max-width: 400px;
	overflow: hidden;
}

.show-image {
	img {
		max-width: 400px;
        max-height: 500px;
	}
}

.list-image {
	img {
		width: 70px;
		height: 70px;
		cursor: pointer;
		margin: 5px 10px;
	}

	img:hover {
		border: 2px solid var(--main-color);
	}
}
