// .App {
//     text-align: center;
//     background: linear-gradient(gray, black);

//   }

/* body {
    background: linear-gradient(gray, black);
  } */
.avatar {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 3px solid var(--main-color);
	cursor: pointer;
}

.close-chat {
	float: right;
	margin: 7px 10px 0 0;
	cursor: pointer;
	transition: 0.2s ease;
}

.close-chat:hover {
	color: #555;
}

.box-chat {
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 0 10px 0 black;
	border-radius: 1em;
	position: fixed;
	bottom: 3px;
	right: 90px;
	width: 400px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.chat-item {
	width: 200px;
	flex-wrap: wrap;
}
.your-message {
	background: var(--main-color);
	margin: 5px;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	float: right;
}

.other-people {
	background: #868686;
	margin: 5px;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	text-align: left;
	float: left;
}

.header {
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
	}
	width: 100%;
	background-color: var(--main-color);
	padding: 5px 10px;
	border-radius: 5px 5px 0 0;
	color: white;
	font-weight: 500;

	.close-chat {
		float: right;
		margin: 7px 10px 0 0;
		cursor: pointer;
		transition: 0.2s ease;
	}

	.close-chat:hover {
		color: #555;
	}
	.hide-chat {
		float: right;
		margin: 7px 20px 0 0;
		cursor: pointer;
		transition: 0.2s ease;
	}

	.hide-chat:hover {
		color: #555;
	}
}

.box-chat_message {
	min-height: 60vh;
	max-height: 60vh;
	width: 400px;
	overflow-y: auto;
	padding: 15px;
}

.send-box {
	width: 100%;
	padding: 0px 10px 10px 10px;
	display: flex;
	justify-content: space-evenly;

	textarea {
		width: 80%;
		margin: 0;
		padding: 0.5em;
		background: #fffbf1;
		border-radius: 5px;
		display: flex;
		float: left;
	}

	button {
		width: 15%;
		height: fit-content;
		background: var(--main-color);
		color: white;
		margin-left: 10px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		padding: 10px 0;
		text-align: center;
		transition: 0.2s ease;
		vertical-align: middle;
	}
	button:hover {
		background: var(--orange-color);
	}
}

textarea:focus {
	outline: 0;
}

/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #dadada;
	border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
